@charset "UTF-8";
/* line 17, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.anyenv/envs/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
# variables
 */
/*
responsive
===========================================================================

form twitter-bootstrap
 */
/*
# basic styles
*/
/* line 5, ../../src/scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* line 9, ../../src/scss/_base.scss */
body {
  background: #000;
  color: #f0f0f0;
  font-family: "Oswald", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif"; }

/* line 15, ../../src/scss/_base.scss */
a {
  color: #5e79c3; }

/*
# modules
 */
/*
# entries

entriyや長文を記載するためのUI定義。

 */
/* line 7, ../../src/scss/modules/_entries.scss */
.about-scope, .archive-scope,
.entries-by-tag-scope, .entry-scope > article {
  margin-bottom: 20px;
  padding: 10px 10px 20px;
  background: #f8f8f8;
  border-radius: 4px;
  color: #0f0f0f;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif";
  line-height: 1.5;
  letter-spacing: 1px; }
  /* line 17, ../../src/scss/modules/_entries.scss */
  .about-scope > h1, .archive-scope > h1,
  .entries-by-tag-scope > h1, .entry-scope > article > h1, .about-scope > h2, .archive-scope > h2,
  .entries-by-tag-scope > h2, .entry-scope > article > h2, .about-scope > h3, .archive-scope > h3,
  .entries-by-tag-scope > h3, .entry-scope > article > h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000; }
  /* line 22, ../../src/scss/modules/_entries.scss */
  .about-scope > h1, .archive-scope > h1,
  .entries-by-tag-scope > h1, .entry-scope > article > h1 {
    font-size: 28px;
    font-weight: bold; }
  /* line 27, ../../src/scss/modules/_entries.scss */
  .about-scope > h2, .archive-scope > h2,
  .entries-by-tag-scope > h2, .entry-scope > article > h2 {
    font-size: 25.2px; }
  /* line 31, ../../src/scss/modules/_entries.scss */
  .about-scope > h3, .archive-scope > h3,
  .entries-by-tag-scope > h3, .entry-scope > article > h3 {
    font-size: 21px; }
  /* line 35, ../../src/scss/modules/_entries.scss */
  .about-scope > p, .archive-scope > p,
  .entries-by-tag-scope > p, .entry-scope > article > p {
    margin-bottom: 10px; }
  /* line 38, ../../src/scss/modules/_entries.scss */
  .about-scope > ul, .archive-scope > ul,
  .entries-by-tag-scope > ul, .entry-scope > article > ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 20px auto; }
    /* line 44, ../../src/scss/modules/_entries.scss */
    .about-scope > ul > li > ul, .archive-scope > ul > li > ul,
    .entries-by-tag-scope > ul > li > ul, .entry-scope > article > ul > li > ul {
      list-style-type: circle;
      padding-left: 20px;
      margin-bottoM: 20px; }
  /* line 51, ../../src/scss/modules/_entries.scss */
  .about-scope > table, .archive-scope > table,
  .entries-by-tag-scope > table, .entry-scope > article > table {
    width: 100%;
    overflow: scroll;
    margin: 20px auto; }
    /* line 55, ../../src/scss/modules/_entries.scss */
    .about-scope > table thead, .archive-scope > table thead,
    .entries-by-tag-scope > table thead, .entry-scope > article > table thead {
      background: #f0f0f0; }
    /* line 58, ../../src/scss/modules/_entries.scss */
    .about-scope > table th, .archive-scope > table th,
    .entries-by-tag-scope > table th, .entry-scope > article > table th, .about-scope > table td, .archive-scope > table td,
    .entries-by-tag-scope > table td, .entry-scope > article > table td {
      padding: 5px 10px; }
  /* line 62, ../../src/scss/modules/_entries.scss */
  .about-scope a, .archive-scope a,
  .entries-by-tag-scope a, .entry-scope > article a {
    color: #00f; }

/*
# scopes
 */
/*
# .site-scope
 */
/* line 4, ../../src/scss/scopes/_site.scss */
.site-scope {
  max-width: 1024px;
  margin: 0 auto; }
  /* line 8, ../../src/scss/scopes/_site.scss */
  .site-scope > .header {
    margin: 10px;
    margin-bottom: 20px; }
    /* line 12, ../../src/scss/scopes/_site.scss */
    .site-scope > .header > .title {
      margin-bottom: 10px; }
      /* line 15, ../../src/scss/scopes/_site.scss */
      .site-scope > .header > .title > a {
        display: block;
        text-decoration: none;
        font-size: 48px;
        color: #fff;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.6); }
        /* line 22, ../../src/scss/scopes/_site.scss */
        .site-scope > .header > .title > a:first-letter {
          color: #f00; }
    /* line 27, ../../src/scss/scopes/_site.scss */
    .site-scope > .header .description {
      font-size: 12px;
      letter-spacing: 1.5px; }
  /* line 32, ../../src/scss/scopes/_site.scss */
  .site-scope .site-menu-scope {
    width: 100%;
    min-height: 48px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px; }
    /* line 39, ../../src/scss/scopes/_site.scss */
    .site-scope .site-menu-scope > .open-menu {
      display: none;
      margin-bottom: 10px;
      color: #000;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      border-radius: 6px;
      background: #f8f8f8; }
      @media screen and (max-width: 767px) {
        /* line 39, ../../src/scss/scopes/_site.scss */
        .site-scope .site-menu-scope > .open-menu {
          display: block; } }
    /* line 54, ../../src/scss/scopes/_site.scss */
    .site-scope .site-menu-scope > .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      @media screen and (max-width: 767px) {
        /* line 54, ../../src/scss/scopes/_site.scss */
        .site-scope .site-menu-scope > .menu {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      /* line 62, ../../src/scss/scopes/_site.scss */
      .site-scope .site-menu-scope > .menu > li {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        width: 100%; }
        /* line 66, ../../src/scss/scopes/_site.scss */
        .site-scope .site-menu-scope > .menu > li > a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font-family: 'Oswald', sans-serif;
          letter-spacing: 1.5px;
          text-align: center;
          text-decoration: none;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
          color: #f8f8f8;
          background: #555;
          border-left: 1px solid rgba(255, 255, 255, 0.05);
          border-top: 1px solid rgba(255, 255, 255, 0.05);
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  /* line 85, ../../src/scss/scopes/_site.scss */
  .site-scope > .content {
    margin: 10px 10px 20px; }
  /* line 88, ../../src/scss/scopes/_site.scss */
  .site-scope > .btn-gotop {
    display: block;
    float: right;
    clear: both;
    margin-right: 12px;
    font-size: 200%;
    text-align: right;
    text-decoration: none;
    border: none;
    color: #fff; }
  /* line 99, ../../src/scss/scopes/_site.scss */
  .site-scope > .footer {
    margin: 10px;
    margin-top: 80px; }
    /* line 104, ../../src/scss/scopes/_site.scss */
    .site-scope > .footer .author,
    .site-scope > .footer .powered-by {
      display: block;
      font-size: 12px;
      text-align: right;
      letter-spacing: 1.5px; }
    /* line 110, ../../src/scss/scopes/_site.scss */
    .site-scope > .footer .copyright {
      display: block;
      text-align: center;
      letter-spacing: 1.5px; }

/*
# about
 */
/*
# archives
 */
/* line 8, ../../src/scss/scopes/_archives.scss */
.archive-scope > .title,
.entries-by-tag-scope > .title {
  font-size: 24px;
  margin-bottom: 20px; }
/* line 12, ../../src/scss/scopes/_archives.scss */
.archive-scope > .archives,
.entries-by-tag-scope > .archives {
  list-style: none;
  padding-left: 0;
  width: 100%; }
  /* line 17, ../../src/scss/scopes/_archives.scss */
  .archive-scope > .archives > li,
  .entries-by-tag-scope > .archives > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    /* line 19, ../../src/scss/scopes/_archives.scss */
    .archive-scope > .archives > li time,
    .entries-by-tag-scope > .archives > li time {
      display: block;
      width: 20%;
      text-align: center; }
      /* line 23, ../../src/scss/scopes/_archives.scss */
      .archive-scope > .archives > li time:before,
      .entries-by-tag-scope > .archives > li time:before {
        content: '['; }
      /* line 26, ../../src/scss/scopes/_archives.scss */
      .archive-scope > .archives > li time:after,
      .entries-by-tag-scope > .archives > li time:after {
        content: ']'; }
    /* line 30, ../../src/scss/scopes/_archives.scss */
    .archive-scope > .archives > li a,
    .entries-by-tag-scope > .archives > li a {
      display: block;
      width: 80%;
      line-height: 1.5; }

/*
# entry-scope
 */
/* line 4, ../../src/scss/scopes/_entry.scss */
.entry-scope {
  margin: 10px 5px; }

/* line 11, ../../src/scss/scopes/_entry.scss */
.meta-scope {
  position: relative;
  height: 80px; }
  /* line 15, ../../src/scss/scopes/_entry.scss */
  .meta-scope .meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    width: 300px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-size: 12px; }
    /* line 24, ../../src/scss/scopes/_entry.scss */
    .meta-scope .meta > dt {
      width: 120px; }
    /* line 27, ../../src/scss/scopes/_entry.scss */
    .meta-scope .meta > dd {
      display: block;
      width: 180px; }

/* line 33, ../../src/scss/scopes/_entry.scss */
.paginate {
  height: 24px;
  margin: 10px 10px 20px; }
  /* line 37, ../../src/scss/scopes/_entry.scss */
  .paginate > ul {
    clear: both;
    width: 100%; }
    /* line 41, ../../src/scss/scopes/_entry.scss */
    .paginate > ul .prev {
      float: left; }
      /* line 43, ../../src/scss/scopes/_entry.scss */
      .paginate > ul .prev:before {
        content: '<'; }
    /* line 47, ../../src/scss/scopes/_entry.scss */
    .paginate > ul .next {
      float: right; }
      /* line 49, ../../src/scss/scopes/_entry.scss */
      .paginate > ul .next:after {
        content: '>'; }

/*
# tag-scope
 */
/* line 4, ../../src/scss/scopes/_tag.scss */
.tags-scope {
  margin: 10px 10px 20px; }
  /* line 7, ../../src/scss/scopes/_tag.scss */
  .tags-scope > h3 {
    margin-bottom: 20px;
    font-size: 24px; }
  /* line 12, ../../src/scss/scopes/_tag.scss */
  .tags-scope .tags > li {
    display: inline-block; }
    /* line 15, ../../src/scss/scopes/_tag.scss */
    .tags-scope .tags > li a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: #0f0f0f;
      background: #f8f8f8;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.3); }

/*
# share-buttons-scope
 */
/* line 5, ../../src/scss/scopes/_share-buttons.scss */
.share-buttons-scope .share-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px; }
  /* line 10, ../../src/scss/scopes/_share-buttons.scss */
  .share-buttons-scope .share-buttons > li {
    height: 20px;
    line-height: 1.5; }
  /* line 14, ../../src/scss/scopes/_share-buttons.scss */
  .share-buttons-scope .share-buttons .facebook {
    margin-top: -4px; }
  /* line 17, ../../src/scss/scopes/_share-buttons.scss */
  .share-buttons-scope .share-buttons .google {
    max-width: 300px;
    overflow: hidden; }
