/*
# entries

entriyや長文を記載するためのUI定義。

 */
%entry {
  margin-bottom: 20px;
  padding: $margin $margin ($margin * 2);
  background: #f8f8f8;
  border-radius: 4px;
  color: #0f0f0f;
  font-family: $font-family;
  line-height: 1.5;
  letter-spacing: 1px;

  %_header {
    margin-top:    ($margin * 2);
    margin-bottom: ($margin * 1.5);
    border-bottom: 1px solid #000;
    }
  > h1 {
    @extend %_header;
    font-size: ($font-size * 2);
    font-weight: bold;
    }
  > h2 {
    @extend %_header;
    font-size: ($font-size * 1.8);
    }
  > h3 {
    @extend %_header;
    font-size: ($font-size * 1.5);
    }
  > p {
    margin-bottom: $margin;
    }
  > ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 20px auto;

    > li {
      > ul {
        list-style-type: circle;
        padding-left: 20px;
        margin-bottoM: 20px;
        }
      }
    }
  > table  {
    width: 100%;
    overflow: scroll;
    margin: 20px auto;

    @media #{$device-phone} {
      display: block;
      }

    thead {
      background: #f0f0f0;

      @media #{$device-phone} {
        display: block;
        float: left;
        td {
          display: block;
          }
        }
      }
    tbody {
      @media #{$device-phone} {
        display: block;
        width: auto;
        clear: both;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
        }
      tr {
        @media #{$device-phone} {
          vertical-align: top;
          }
        }
      }
    th, td {
      padding: 5px 10px;
      }
    }
  a {
    color: #00f;
    }
  }

