section.about {
    p {
        margin-left: 2em;
        @media screen and (max-width:640px) {
            margin-left: 0;
        }
    }
    ul {
        margin-left: 3em;
        @media screen and (max-width:640px) {
            margin-left: 1em;
        }
    }
}