// reset margin/padding
ul, p {
    margin:  0;
    padding: 0;
}
p { margin-bottom: 1em }

html, body {
    height: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: $body-background-color;
    max-width: $max-width;
    margin:    0 auto;
}

body, input {
    font: $font-size Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'モリサワ新ゴR', 'Droid Sans', メイリオ, 'sans-serif';
    color: $text-color;
    line-height: 1.5;
    @include zurui-ts-000(0.2);
}

// title: base style
h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 .5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    a {
        text-decoration: none;
    }
    & + p.decription {
        margin: -0.5rem 0 0;
        white-space: nowrap;
        overflow: -webkit-marquee;
    }
}

h1, h2 {
    @include zurui-ts-fff(.4);
    @include zurui-line-bottom();
}

h2 {
    border-style: none none dashed;
}

h1#site-title {
    border: none;
    font-family: 'Oswald', sans-serif;
    @include box-shadow(none);
    &:first-letter {
        font-weight: bold;
        color: $site-title-first-letter-color;
    }
    > a {
        text-decoration: none;
        &:hover, &.hover {
            background: transparent;
        }
    }
}

// title: font-size
h1 { font-size: 400% }
h2 { font-size: 200% }
h3 { font-size: 150% }
h4 { font-size: 140% }
h5 { font-size: 130% }
h6 { font-size: 120% }

// link
a {
    color:         $link-color;
    border-bottom: 1px solid #111;

    &:hover, &.hover {
        color: $link-hover-color;
        background: #333;
        @include transition(all, 0.1s);
    }
}

main#content {
    // font-size
    font-size: $main-content-font-size;
    h1 { font-size: 200% }
    h2 { font-size: 150% }
    h3 { font-size: 150% }
    h4 { font-size: 120% }
    h5 { font-size: 120% }
    h6 { font-size: 120% }
}

footer {
    font-family: 'Oswald', sans-serif;
}
