ul {
    margin-left: 2em;
}

section {
    margin: 1rem 0;
}

aside {
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 .5rem;
}

header {
    margin: 2rem 10px 1rem;
    @media screen and (max-width:640px) {
        margin: 0;

        h1#site-title {
            margin: 0 0 0 .2em;
            & + p.decription {
                margin: 0;
            }
        }
    }
}

main#content {
    margin: 5px 10px 20px;

    background-color: $content-background-color;
    @include border-radius(10px);
    @include zurui-box-outer();

    a {
        padding: 0 .2em;
    }
}

footer {
    padding: 2em 20px 1em;
    height:  1em;

    > .copyright {
        display: block;
        width:   6em;
        margin:  0 auto;
    }
}