/*
# entry-scope
 */
.entry-scope {
  margin: $margin ($margin / 2);

  > article {
    @extend %entry;
    }
  }
.meta-scope {
  position: relative;
  height: 80px;

  @media #{$device-phone} {
    height: 160px;
    }
  .meta {
    display: flex;
    position: absolute;
    right: 0;

    width: 300px;
    flex-wrap: wrap;
    font-size: $font-size-small;

    @media #{$device-phone} {
      width: 100%;
      }

    > dt {
      width: 120px;

      @media #{$device-phone} {
        width: 100%;
        }
      }
    > dd {
      display: block;
      width: 180px;

      @media #{$device-phone} {
        width: 100%;
        }
      }
    }
  }
.paginate {
  height: 24px;
  margin: 10px 10px 20px;

  > ul {
    clear: both;
    width: 100%;

    .prev {
      float: left;
      &:before {
        content: '<';
        }
      }
    .next {
      float: right;
      &:after {
        content: '>';
        }
      }
    }
  }

