/*
# share-buttons-scope
 */
.share-buttons-scope {
  .share-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    @media #{$device-phone} {
      flex-direction: column;
      }

    > li {
      padding: 0 $margin;
      height: 40px;
      line-height: 1.5;
      }
    .facebook {
      margin-top: -4px;
      }
    .google {
      // XXX: ホントはボタン差し替えるのが正しいんだろうな
      max-width: 300px;
      overflow: hidden;
      }
    }
  }
