$body-background-color:    #000;
$content-background-color: #000;

// layout
$max-width: 960px;

// font
$font-size:                     16px;
$main-content-font-size:        18px;
$text-color:                    #EEE;
$link-color:                    #F8F8F8;
$link-hover-color:              #D8D8D8;
$site-title-first-letter-color: #F00;